.container {
    margin: 0px;
    background-color: #f5f5f5;
    width: 95%;
    overflow: auto;
    display: grid;
    grid-template-columns: 25% 60% 17%;
    grid-gap: 14px;
    margin: auto;
    /* border: 1px solid green; */
  }
  .left {
    width: 90%;
    height: 500px;
  }
  .right {
    width: 93%;
    height: 500px;
  }
  .map {
    width: 256px;
    height: 150px;
    margin-left: 30px;
    background-color: white;
  }
  .imgMap {
    width: 256px;
    height: 102px;
    object-fit: cover;
    /* margin-left: 50px; */
  }
  .view {
    text-align: center;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #007e8f;
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: none;
  }
  .search {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 10px;
    width: 70%;
    height: 100px;
    margin-left: 85px;
  }
  .search > div {
    border: 1px solid black;
    /* margin-right: 10px; */
    background-color: #ffff;
    height: 50%;
    margin-top: 20px;
  }
  .searchProp {
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 900;
    border-top: 1px solid hsl(0, 0%, 79%);
    border-bottom: 1px solid hsl(0, 0%, 79%);
    padding: 15px 0px 23px;
    margin-top: 30px;
    color: #1f1f1f;
  }
  .inputDiv{
    display: flex;
  }
  .inputDiv>input{
    width: 70%;
    padding: 10px 50px 10px 10px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
    border: 0px;
    font-size: 14px;
    border: 1px solid #616161;
    background-color: #ffff;
  }
  .inputSearch{
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  .location {
    font-size: 11px;
    padding: 6px 0px 6px 6px;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: rgb(31, 31, 31);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: 2px solid black;
    border-radius: 15px;
    width: 35%;
  }
  .sDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  .sort {
    font-size: 14px;
    letter-spacing: normal;
    color: rgb(97, 97, 97);
    background-color: #ffffff00;
    font-weight: 700;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: start;
  }
  .searchContainer{
        display: grid;
        grid-template-columns: 300px 200px 200px 100px;
        grid-gap: 10px;
        width: 70%;
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .search-wrap {
    border: 1px solid #777;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
    background-color: white;
  }
  .search-wrap label {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    color: #616161;
    margin-left: 5px;
    margin-top: 0px;
    background-color: white;
  }
  select {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    margin-top: 0px;
    margin-left: 0px;
    height: 30px;
    border: 0px;
  }
  .dateD input{
      border: 0px;
      padding-right: 50px;
      padding-bottom: 10px;
      margin-top: 4px;
  }
  #searchBar{
      height: 55px;
      border: 1px solid white;
      background-color: #CF4B6D;
      text-align: center;
  }
  .searchBar>div{
      margin-top: 20px;
  }
  .select-wrap {
    border: 1px solid #777;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 20px;
    background-color: white;
  }
  .select-wrap label {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #616161;
    margin-left: 0px;
    margin-top: 0px;
    background-color: white;
  }
  select {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    margin-top: 0px;
    margin-left: 0px;
    height: 30px;
  }
  .mile{
    font-size: 14px;
    color: rgb(97, 97, 97);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 85px;
  }
  h4{
      margin-top: 10px;
      margin-bottom: 2px;
  }
  .reserveDiv,.refundDiv{
      color: #0e8445;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 400;
      font-size: 14px;
  }
  .ratingDiv{
    font-size: 14px;
    color: rgb(97, 97, 97);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .rating{
      color: black;
      font-weight: bold;
  }
  .lastDiv{
      display: block;
      text-align: end;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px;
        margin-top: 110px;
        padding-top: 10px;
        color:rgb(97, 97, 97);
        margin-right: 10px;
        padding-left: 10px;
  }
  .leftItem{
      color: white;
      background-color: #0E8445;
      text-align: center;
      font-size: 12px;
      border-radius: 5px;
      padding: 3.2px;
      margin-bottom: 3px;
  }
  .lowerPriceTag{
      color: black;
      background-color: #00B1FF;
      text-align: center;
      font-size: 10.5px;
      border-radius: 5px;
      margin-bottom: 3px;
      padding-top: 3.2px;
      padding-bottom: 3.2px;
  }
  .headH{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
  .beforeFoot{
    width: 100%;
  }
  .beforeFoot>button{
    font-size: 16px;
    color: #107cd4;
    padding: 8px 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid #C7C7C7;
    
  }
  .beforeFoot>button:hover{
    cursor: pointer;
    background-color: #D9ECEE;
    color: #2C545A;
  }
  .beforeFoot>img{
     width: 55%;
     margin-left: 350px;
     margin-top: 22px;
     margin-bottom: 22px;
     cursor: pointer;
  }
  .beforeFoot>div{
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(97, 97, 97);
    margin-left: 615px;
    margin-bottom: 5px;
  }
  .beforeFoot>#feedBack{
    margin-left: 650px;
    margin-bottom: 100px;
  }
  .fiterOption > .heading {
    /* margin-left: 30px; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-top: 30px;
    color: #1f1f1f;
    text-align: left;
    padding-left:10px;
  }
  .fiterOption > .subheading {
    /* margin-left: 45px; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #1f1f1f;
    cursor: pointer;
    padding-left:10px;
    text-align: left;
  }
  .filOptions{
    display: grid;
    justify-content: flex-start;
    /* padding-left: 50px; */
    padding-top: 10px;
    text-align: left;
  }
  .filOptions>span>input{
    width: 22px;
    height: 22px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .filOptions>span{
    font-size: 14px;
    color: rgb(97, 97, 97);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .filOptions>span>span{
    font-size: 12px;
    color: rgb(97, 97, 97);
    font-weight: 400;
    padding-left: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .more{
    color:blue;
    margin-top:10px;
    text-align: left;
    padding-left: 30px;
  }