.background_image{
padding: 4%;    
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=100%&h=225&q=mediumHigh");
  }
  /* .stays_border_box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  } */
  .four_inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    padding: 6%;
  }
  .four_boxes_inside_big_box{
    background-color: aliceblue;
    border: 1px solid ;
    height: 50px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
  @media (max-width: 919px){
    .four_inputs{
      grid-template-columns: repeat(1,1fr);
    }
  }
  