
  .container{
    background-color: #00253c;
    padding: 15px;
    
  }
.Navbar{
    display: flex;
    justify-content: space-between;
}

  .Navbar1{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
  }
  .Navbar2{
    width: 45%;
    align-items:center ;
    color: white;

    display: flex;
    justify-content:space-evenly ;
  }
.Navbar3{
    display:none ;
}
/* .Cart >img{
    width: 25px;
}
.User >img{
    width: 25px;

}
.Search>img{
    width: 25px;
} */
.Search{
    display: none;

}
.hover :hover{
  background-color: red;
}
.droper{
    display: contents;

   }


  @media (max-width: 991px) {
    .Navbar2{
display: none;
    }
    .Navbar3{
        display:flex ;
        width: 30%;
        justify-content: space-evenly;
        align-items: center;
    }
  
        
  }


  @media (max-width: 919px){
    .Search{
        display: contents;
       
       }
       .droper{
        display: none;

       }
       .Navbar1{
        padding-left: 10px;
       }
  }