.container {
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=225&q=mediumHigh");
  width: 100%;
  margin: auto;
  height: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container > div {
  width: 80%;
  /* height: 250px; */
  /* border: 1px solid red; */
  background-color: white;
}
.tabbox {
  background-color: white;
}

.TabList {
  margin-top: 30px;

  border: none;
  gap: 35px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab {
  border: none;
  background-color: white;
  font-size: 17px;
  font-weight: 500;
}
.suggestions {
  /* border: 1px solid red; */
  width: 260px;
  overflow: auto;
  background-color: white;
  justify-content: center;
  position: absolute;
  margin-left: 25px;
}

.myinput {
  height: 35px;
  width: 250px;
  margin-left: 25px;
}
.mydate {
  height: 35px;
  margin-left: 25px;

  width: 100px;
}
.TabPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Button {
  color: white;
  background-color: #c83259;
  width: auto;
  height: 45px;
  border: none;
  margin: 25px;
}

@media (max-width: 450px) {
  .TabList {
    margin-top: 30px;
  }
  .myinput {
    height: 35px;
    width: auto;
    margin-left: 25px;
  }
  .tab {
    border: none;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    margin: -20px;
  }
}
.box {
  display: flex;
}
.flightdiv {
  /* border: 1px solid red; */
  /* margin-left: 250px; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.flightdiv > div {
  align-self: center;
  width: 33%;
  /* border: 1px solid red; */
}
