.search {
    width: 100%;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .search-main {
    width: 90%;
    border: solid 1px transparent;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .search-nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-nav > div {
    color: rgb(114, 114, 114);
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
  }
  
  .search-nav > div:hover {
    text-decoration: underline;
    color: #007e8f;
  }
  
  .search-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
    cursor: pointer;
  }
  .searchbtn {
    width: 200px;
    height: 50px;
    background-color: #c83259;
    color: white;
    border:none;
    
    cursor: pointer;
  }
  
  
  .cars_input_panels {
    margin-top: 20px;
    display: grid;
    grid-template-areas:
        "a a b b"
        "c d e f";
    gap: 10px;
}

.cars_input_panels>div:nth-child(1) {
    grid-area: a;
    width: 100%;
}

.cars_input_panels>div:nth-child(2) {
    grid-area: b;
    width: 100%;
}

.cars_input_panels>div:nth-child(3) {
    grid-area: c;
}

.cars_input_panels>div:nth-child(4) {
    grid-area: d;
}

.cars_input_panels>div:nth-child(5) {
    grid-area: e;
}

.cars_input_panels>div:nth-child(6) {
    grid-area: f;
}
.flight_first_box {
    display: flex;
    justify-content: space-between
}
.flight_going_to {
    border: 1px solid rgb(170, 168, 168);
    border-radius: 4px;
    color: rgb(94, 92, 92);
    height: 50px;
    width: 42%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    box-sizing: border-box;
    gap: 10px
}
.flight_going_to>input:focus {
    outline: none;
}
.flight_going_to>input {
    border: none;
    font-size: 18px;
}
.return {
    margin-right: 0;
}
.checkin {
    border: 1px solid rgb(170, 168, 168);
    border-radius: 2px;
    height: 50px;
    padding: 0 30px 0 8px;
    margin-right: 10px;
    text-align: start;
    box-sizing: border-box;
}

.checkin>p {
    margin: 2px 0px;
    font-size: 13px;
    color: rgb(94, 92, 92);
}

.checkin_input,
.checkout_input {
    width: 100%;
    font-size: 16px;
    border: none;
}

.checkin_input:focus,
.checkout_input:focus {
    outline: none;
}

.checkin,
.checkout {


    border: 1px solid rgb(170, 168, 168);
    border-radius: 2px;
    height: 50px;
    padding: 0 30px 0 8px;
    margin-right: 10px;
    text-align: start;
    box-sizing: border-box;
}

.checkin>p,
.checkout>p {
    margin: 2px 0px;
    font-size: 13px;
    color: rgb(94, 92, 92);
}

.checkboxes {
    text-align: start;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(94, 92, 92);
}
