.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #00253c;
    justify-content: space-between;
  }
  .nav-left {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 15px;
    margin-left: 80px;
    font-weight: 500;
    cursor: pointer;
  }
  .nav-left > p {
    font-size: 15px;
  }
  .nav-left > p:hover {
    color: #007e8f;
  }
  .nav-img {
    width: 170px;
    height: 150px;
  }
  .nav-right {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 15px;
    margin-right: 80px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  .nav-right > div:hover {
    color: #007e8f;
  }
  
  @media screen and (max-width: 800px) {
    .nav-left {
      margin: 10px;
      margin-left: 40px;
    }
    .nav-left > p {
      font-size: 12px;
      gap: 30px;
    }
    .nav-right {
      gap: 20px;
    }
    .nav-right {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 415px) {
    .navbar {
      display: flex;
      width: 100%;
      height: 50px;
      background-color: #00253c;
      justify-content: space-between;
    }
    .nav-left {
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 5px;
      margin-left: 20px;
      font-weight: 500;
      cursor: pointer;
    }
    .nav-left > p {
      font-size: 8px;
    }
    .nav-left > p:hover {
      color: #007e8f;
    }
    .nav-img {
      width: 80%;
      height: 80%;
    }
    .nav-right {
      display: none;
    }
  }