.tabsScroll::-webkit-scrollbar {
    display: none;
    width: 2px;
}

.tabsScroll::-webkit-scrollbar-thumb {
    width: 2px
}

.tabsScroll::-webkit-scrollbar-track {
    width: 2px;
}

.hotelTravModal::-webkit-scrollbar {
    width: 10px;
}

.hotelTravModal::-webkit-scrollbar-thumb {
    background:teal;
}
